<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SSH</display-name>
  <welcome-file-list>
    <welcome-file>view/views/login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.itheima.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodeFilter</filter-name>
    <filter-class>cn.itheima.web.GenericEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShujuzidianList</display-name>
    <servlet-name>ShujuzidianList</servlet-name>
    <servlet-class>cn.itheima.web.ShujuzidianList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShujuzidianList</servlet-name>
    <url-pattern>/ShujuzidianList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShujuzidianAdd</display-name>
    <servlet-name>ShujuzidianAdd</servlet-name>
    <servlet-class>cn.itheima.web.ShujuzidianAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShujuzidianAdd</servlet-name>
    <url-pattern>/ShujuzidianAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShujuzidianDel</display-name>
    <servlet-name>ShujuzidianDel</servlet-name>
    <servlet-class>cn.itheima.web.ShujuzidianDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShujuzidianDel</servlet-name>
    <url-pattern>/ShujuzidianDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShujuzidianEdit</display-name>
    <servlet-name>ShujuzidianEdit</servlet-name>
    <servlet-class>cn.itheima.web.ShujuzidianEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShujuzidianEdit</servlet-name>
    <url-pattern>/ShujuzidianEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffList</display-name>
    <servlet-name>StaffList</servlet-name>
    <servlet-class>cn.itheima.web.StaffList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffList</servlet-name>
    <url-pattern>/StaffList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffAdd</display-name>
    <servlet-name>StaffAdd</servlet-name>
    <servlet-class>cn.itheima.web.StaffAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffAdd</servlet-name>
    <url-pattern>/StaffAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffDel</display-name>
    <servlet-name>StaffDel</servlet-name>
    <servlet-class>cn.itheima.web.StaffDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffDel</servlet-name>
    <url-pattern>/StaffDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffEdit</display-name>
    <servlet-name>StaffEdit</servlet-name>
    <servlet-class>cn.itheima.web.StaffEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffEdit</servlet-name>
    <url-pattern>/StaffEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KaoqinjiluList</display-name>
    <servlet-name>KaoqinjiluList</servlet-name>
    <servlet-class>cn.itheima.web.KaoqinjiluList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KaoqinjiluList</servlet-name>
    <url-pattern>/KaoqinjiluList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KaoqinjiluAdd</display-name>
    <servlet-name>KaoqinjiluAdd</servlet-name>
    <servlet-class>cn.itheima.web.KaoqinjiluAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KaoqinjiluAdd</servlet-name>
    <url-pattern>/KaoqinjiluAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KaoqinjiluDel</display-name>
    <servlet-name>KaoqinjiluDel</servlet-name>
    <servlet-class>cn.itheima.web.KaoqinjiluDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KaoqinjiluDel</servlet-name>
    <url-pattern>/KaoqinjiluDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KaoqinjiluEdit</display-name>
    <servlet-name>KaoqinjiluEdit</servlet-name>
    <servlet-class>cn.itheima.web.KaoqinjiluEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KaoqinjiluEdit</servlet-name>
    <url-pattern>/KaoqinjiluEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jiaqishenqing</display-name>
    <servlet-name>Jiaqishenqing</servlet-name>
    <servlet-class>cn.itheima.web.Jiaqishenqing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jiaqishenqing</servlet-name>
    <url-pattern>/Jiaqishenqing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiaqishenqingList</display-name>
    <servlet-name>JiaqishenqingList</servlet-name>
    <servlet-class>cn.itheima.web.JiaqishenqingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiaqishenqingList</servlet-name>
    <url-pattern>/JiaqishenqingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiaqishenqingAdd</display-name>
    <servlet-name>JiaqishenqingAdd</servlet-name>
    <servlet-class>cn.itheima.web.JiaqishenqingAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiaqishenqingAdd</servlet-name>
    <url-pattern>/JiaqishenqingAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiaqishenqingDel</display-name>
    <servlet-name>JiaqishenqingDel</servlet-name>
    <servlet-class>cn.itheima.web.JiaqishenqingDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiaqishenqingDel</servlet-name>
    <url-pattern>/JiaqishenqingDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiaqishenqingEdit</display-name>
    <servlet-name>JiaqishenqingEdit</servlet-name>
    <servlet-class>cn.itheima.web.JiaqishenqingEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiaqishenqingEdit</servlet-name>
    <url-pattern>/JiaqishenqingEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChuchaishenqingList</display-name>
    <servlet-name>ChuchaishenqingList</servlet-name>
    <servlet-class>cn.itheima.web.ChuchaishenqingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChuchaishenqingList</servlet-name>
    <url-pattern>/ChuchaishenqingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChuchaishenqingAdd</display-name>
    <servlet-name>ChuchaishenqingAdd</servlet-name>
    <servlet-class>cn.itheima.web.ChuchaishenqingAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChuchaishenqingAdd</servlet-name>
    <url-pattern>/ChuchaishenqingAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChuchaishenqingDel</display-name>
    <servlet-name>ChuchaishenqingDel</servlet-name>
    <servlet-class>cn.itheima.web.ChuchaishenqingDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChuchaishenqingDel</servlet-name>
    <url-pattern>/ChuchaishenqingDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChuchaishenqingEdit</display-name>
    <servlet-name>ChuchaishenqingEdit</servlet-name>
    <servlet-class>cn.itheima.web.ChuchaishenqingEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChuchaishenqingEdit</servlet-name>
    <url-pattern>/ChuchaishenqingEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiabanshenqingList</display-name>
    <servlet-name>JiabanshenqingList</servlet-name>
    <servlet-class>cn.itheima.web.JiabanshenqingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiabanshenqingList</servlet-name>
    <url-pattern>/JiabanshenqingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiabanshenqingAdd</display-name>
    <servlet-name>JiabanshenqingAdd</servlet-name>
    <servlet-class>cn.itheima.web.JiabanshenqingAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiabanshenqingAdd</servlet-name>
    <url-pattern>/JiabanshenqingAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiabanshenqingDel</display-name>
    <servlet-name>JiabanshenqingDel</servlet-name>
    <servlet-class>cn.itheima.web.JiabanshenqingDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiabanshenqingDel</servlet-name>
    <url-pattern>/JiabanshenqingDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiabanshenqingEdit</display-name>
    <servlet-name>JiabanshenqingEdit</servlet-name>
    <servlet-class>cn.itheima.web.JiabanshenqingEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiabanshenqingEdit</servlet-name>
    <url-pattern>/JiabanshenqingEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiaoxiushenqingList</display-name>
    <servlet-name>TiaoxiushenqingList</servlet-name>
    <servlet-class>cn.itheima.web.TiaoxiushenqingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiaoxiushenqingList</servlet-name>
    <url-pattern>/TiaoxiushenqingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiaoxiushenqingAdd</display-name>
    <servlet-name>TiaoxiushenqingAdd</servlet-name>
    <servlet-class>cn.itheima.web.TiaoxiushenqingAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiaoxiushenqingAdd</servlet-name>
    <url-pattern>/TiaoxiushenqingAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiaoxiushenqingEdit</display-name>
    <servlet-name>TiaoxiushenqingEdit</servlet-name>
    <servlet-class>cn.itheima.web.TiaoxiushenqingEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiaoxiushenqingEdit</servlet-name>
    <url-pattern>/TiaoxiushenqingEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiaoxiushenqingDel</display-name>
    <servlet-name>TiaoxiushenqingDel</servlet-name>
    <servlet-class>cn.itheima.web.TiaoxiushenqingDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiaoxiushenqingDel</servlet-name>
    <url-pattern>/TiaoxiushenqingDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Kaoqinchaxun</display-name>
    <servlet-name>Kaoqinchaxun</servlet-name>
    <servlet-class>cn.itheima.web.Kaoqinchaxun</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kaoqinchaxun</servlet-name>
    <url-pattern>/Kaoqinchaxun</url-pattern>
  </servlet-mapping>
</web-app>